<?xml version="1.0"?>
<model>
  <name>flying_manipulator_sim</name>
  <version>1.0</version>
  <sdf version="1.6">flying_manipulator_sim.sdf</sdf>
  <author>
    <name>flying_manipulator_sim</name>
    <email>flying_manipulator_sim@qq.com</email>
  </author>
  <description>
    A racetrack world
  </description>
</model>